<form name="form-container" action="/courses/handle-form-action" method="POST">
  <div class="mt-4">
    Khóa học
  </div>


  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="checkBoxAll">
      <label class="form-check-label" for="checkBoxAll">Chọn tất cả</label>
    </div>

    <select class="form-control faction" name="action" required>
      <option value="">-- Hành động -- </option>
      <option value="delete">Xóa</option>
    </select>
    <button class="btn btn-primary btn-sm btn-apply " disabled>Áp dụng</button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">
          Tên
          {{{sortable 'name' _sort}}}
          </th>
        <th scope="col">
        img
          {{{sortable 'img' _sort}}}
        </th>
        <th scope="col">
          slug
         {{{sortable 'slug' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" name="courseIds[]" value="{{this._id}}">
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.img}}</td>
        <td>{{this.slug}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#deleteModal">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Không có khóa học
          <a href="/courses/create">Tạo khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<form name="delete-course" method="POST"> </form>


<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa khóa học</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" data-accept="modal" id="deletebtn2">Xóa</button>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteCourse = document.forms['delete-course'];
    var btndelete = document.querySelector('#deletebtn2');
    var checkBoxAll = $('#checkBoxAll');
    var formContainer = $('form[name="form-container"]');
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');
    })

    btndelete.onclick = () => {
      deleteCourse.action = '/courses/' + courseId + '?_method=DELETE';
      deleteCourse.submit();
    }


    checkBoxAll.change(function () {
      var ischeck = $(this).prop('checked');
      courseItemCheckbox.prop('checked', ischeck);
      enableBtn($('input[name="courseIds[]"]:checked').length);
    });
    courseItemCheckbox.change(function () {
      var ischeck = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkBoxAll.prop('checked', ischeck);
      enableBtn($('input[name="courseIds[]"]:checked').length);
    })

    var btnApply = $('.btn-apply');

    formContainer.on('submit',function(e){
      var isSubmittalbe = !$(btnApply).hasClass('disabled');
      if (!isSubmittalbe){
        e.preventDefault();
      }
    })

    function enableBtn(number) {
      if (number > 0) {
        btnApply.attr('disabled',false);
      }
      else {
        btnApply.attr('disabled',true);
      }
    }
  })
</script>